<div class="sidebar s1">

  <a class="sidebar-toggle" title="Expand Sidebar"><i class="fa icon-sidebar-toggle"></i></a>

  <div class="sidebar-content">

    <div class="sidebar-top group">
      <p>Follow:</p>
      {{ partial "social-links.html" . }}
    </div>

    <div class="widget widget_recent_entries sidebarLeftCategories"><h3>Last posts</h3>
      <ul>
        {{range first .Site.Params.SidebarRecentLimit .Site.Pages}}
        <li><a href="{{ lower .Permalink}}">{{.Title}}</a></li>
        {{end}}
      </ul>
    </div>

    <div id="search-2" class="widget widget_search"><h3>Search</h3>

      <form method="get" class="searchform themeform" action="https://www.google.com/search">
        <div>
          <input type="text" class="search" name="q" placeholder="Press enter to start searching">
        </div>
      </form>
    </div>

    <div class="widget widget_recent_entries sidebarLeftCategories"><h3>Last 5 GitHub Gists</h3>
      <ul>
        {{ $urlPre := "https://api.github.com" }}
        {{ $gistJ := getJSON $urlPre "/users/schumacherfm/gists" }}
        {{range first 5 $gistJ }}
          {{ if .public }}
            <li><a href="{{ .html_url }}" target="_blank">{{.description}}</a></li>
          {{ end }}
        {{end}}
      </ul>
    </div>


  </div>
  <!--/.sidebar-content-->
</div>
