<div class="sidebar s1">

  <a class="sidebar-toggle" title="Expand Sidebar"><i class="fa icon-sidebar-toggle"></i></a>

  <div class="sidebar-content">

    <div class="sidebar-top group">
      <p>Follow:</p>
      {{ partial "social-links.html" . }}
    </div>

    <ul class="post-nav group">
      <li class="next">
        {{if .Next}}
        <a href="{{ lower .Next.Permalink}}" rel="next">
          <i class="fa fa-chevron-right"></i>
          <strong>Next post</strong>
          <span>{{.Next.Title}}</span>
        </a>
        {{end}}
      </li>
      <li class="previous">
        {{if .Prev}}
        <a href="{{ lower .Prev.Permalink}}" rel="prev">
          <i class="fa fa-chevron-left"></i>
          <strong>Previous Post</strong>
          <span>{{.Prev.Title}}</span>
        </a>
        {{end}}
      </li>
    </ul>

    <div class="widget widget_recent_entries sidebarLeft"><h3>Last Posts</h3>
      <ul>
        {{range first .Site.Params.SidebarRecentLimit .Site.Pages}}
        <li><a href="{{ lower .Permalink}}">{{.Title}}</a></li>
        {{end}}
      </ul>
    </div>

    <div id="search-2" class="widget widget_search"><h3>Search</h3>

      <form method="get" class="searchform themeform" action="https://www.google.com/search">
        <div>
          <input type="text" class="search" name="q" placeholder="Press enter to start searching">
        </div>
      </form>
    </div>

  </div>
  <!--/.sidebar-content-->
</div>
