<ul class="social-links">
  <!--<li>-->
  <!--<a class="social-tooltip" title="YouTube" href="http://www.youtube.com/user/kiriwt" target="_blank">-->
  <!--<i class="fa fa-youtube" ></i>-->
  <!--</a>-->
  <!--</li>-->

  <li>
    <a class="social-tooltip" title="Keybase.io"
       href="https://keybase.io/cyrill" target="_blank">
      <i class="fa fa-key"></i>
    </a>
  </li>
  <li>
    <a class="social-tooltip" title="My GPG/PGP Key for Cyrill at Schumacher dot fm"
       href="http://www.schumacher.fm/cyrill.asc" target="_blank">
      <i class="fa fa-lock"></i>
    </a>
  </li>
  <li>
    <a class="social-tooltip" title="On Twitter"
       href="https://twitter.com/SchumacherFM" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  <li>
    <a class="social-tooltip" title="On GitHub"
       href="https://github.com/SchumacherFM" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </li>
  <li>
    <a class="social-tooltip" title="On Flickr"
       href="https://www.flickr.com/photos/kiri-wt/" target="_blank">
      <i class="fa fa-flickr"></i>
    </a>
  </li>
  <li>
    <a class="social-tooltip" title="On LinkedIn"
       href="https://www.linkedin.com/in/cyrillschumacher" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
  </li>
  <li>
    <a class="social-tooltip" title="On Google+" rel="publisher"
       href="https://plus.google.com/+CyrillSchumacher/posts" target="_blank">
      <i class="fa fa-google-plus-square"></i>
    </a>
    <a href="https://plus.google.com/109344723659834198041" ></a>
  </li>
</ul>