{{ partial "head.html" . }}
<body class="archive category col-3cm full-width topbar-enabled chrome">

<div id="wrapper">
  {{ partial "header.html" . }}

  <div class="container" id="page">
    <div class="container-inner">
      <div class="main">
        <div class="main-inner group">
          <section class="content">
            <div class="pad group">
              {{ if eq .Paginator.PageNumber 1 }}
                {{ range first 1 .Site.RegularPages }}
                  {{ template "featured.html" . }}
                {{end}}
              {{end}}
              <div class="post-list group">
                {{ $paginate := (.Paginate (where .Data.Pages "Section" "!=" "page")) }}
                {{ range $index,$data := $paginate.Pages }}
                  {{if gt $index 0}}
                    {{ if mod $index 2 | eq 1 }}
                      <div class="post-row">
                    {{end}}

                      {{ template "partials/categoryItem.html" $data }}

                    {{ if mod $index 2 | eq 0 }}
                      </div>
                    {{end}}
                  {{end}}
                {{end}}
              </div>

              <!--pagination-->
              {{ partial "pagination.hbs" . }}
              <!--/pagination-->
            </div>

          </section>
          {{ partial "sidebarLeftCategories.html" . }}
          {{ partial "sidebarRight.html" . }}
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
